section#contacts.block
	h2 Как нас найти
	#map
	.info(itemscope itemtype="http://schema.org/Store")
		meta(itemprop="name" content="Агометра")
		meta(itemprop="brand" content="Агометра")
		link(itemprop="logo" href="https:///agometra.ru/images/LogoFlat.png")
		link(itemprop="url" href="https://agometra.ru")
		p(itemprop="address")
			include svg/map_icon.svg
			.
				Адрес: 109380, г. Москва, ул.Чагинская, дом 13, стр. 5
		p На КПП сказать - в компанию Агометра, затем прямо до конца, по левой стороне будет большой ангар с цифрой 5, это наш склад.
		p
			include svg/tel_icon.svg
			.
				Телефоны: #[a(itemprop="telephone" href="tel:84950953317") 8 (495) 095 33 17], #[a(itemprop="telephone" href="tel:+79998713317") +7 (999) 871 33 17]
		p
			include svg/mail_icon.svg
			.
				E-mail: #[a(itemprop="email" href="mailto:info@agometra.ru") info@agometra.ru]
		p(itemprop="openingHours")
			include svg/clock_icon.svg
			.
				Режим работы: #[time(itemprop="openingHours" datetime="08:00-19:00") с 8.00 до 19.00 (ежедневно)]
		.social
			a(href="https://wa.me/79295335535?text=Здравствуйте!%20Перешёл%20только%20что%20с%20сайта." role="link" title="Ссылка на WhatsApp" target="_blank" rel="noopener")
				include svg/whatsapp.svg
			a(href="https://t.me/Agometrafutbolki" role="link" title="Ссылка на Telegram" target="_blank" rel="noopener")
				include svg/telegram_icon.svg
			a(href="https://instagram.com/futbolkioptomoskva" role="link" title="Ссылка на Instagram" target="_blank" rel="noopener")
				include svg/insta_icon.svg
