header
  display: block

  address
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px
    font-style: normal

    >p
      margin: 20px 30px 0

  #logoSVG
    width: 500px
    z-index: 10 
