=media-max($max-size)
  @media screen and (max-width: #{$max-size}px)
    @content

$color-green: #357073
$color-green-light: #84EFA2
$color-error: #ef8484
$color-bezh: rgba(234, 202, 175, 0.5)
$color-black-text: #444
$color-bonus-bg: rgba(252, 232, 215,0.96)
$color-bonus-bg-hover: rgb(199, 255, 163)
$color-bonus-text: #AD5555
$color-text-silver: #878787
$color-table-column: #AAA
$color-table-row-hover: #91e3ff