section#advantages
  ul
    li.block
      h2 ИДЕАЛЬНО ПОДХОДИТ ПОД НАНЕСЕНИЕ ПРИНТОВ
      div.svg
        include svg/print.svg
      p Идеально подходят для печати принта. При должном качестве краски футболки выдерживают больше 200 стирок.
    li.block
      h2 ФАБРИЧНЫЕ<br>ЦЕНЫ
      div.svg
        include svg/rub-calc.svg
      p Выставляем цену на продукцию на столько низкой, на сколько это вобще возможно.
    li.block
      h2 НАТУРАЛЬНЫЕ МАТЕРИАЛЫ
      div.svg
        include svg/cotton.svg
      p Используем исключительно качественную пряжу из натурального хлопока.
    li.block
      h2 СОБСТВЕННОЕ ПРОИЗВОДСТВО
      div.image
        img(src="/images/LogoFlat.png" alt="Own production" loading="lazy")
      p Можем создать модель по индивидуальным меркам и реализовать все ваши пожелания.
