section#contacts.block
	h2 Как нас найти
	#map
	.info
		p
			include svg/map_icon.svg
			.
				Адрес: 109380, г. Москва, ул.Чагинская, дом 13, стр. 5
		p На КПП сказать - в компанию Агометра, затем прямо до конца, по левой стороне будет большой ангар с цифрой 5, это наш склад.
		p
			include svg/tel_icon.svg
			.
				Телефон: #[a(href="tel:+79295335535") +7 (929) 533 55 35]
		p
			include svg/mail_icon.svg
			.
				E-mail: #[a(href="mailto:info@agometra.ru") info@agometra.ru]
		p
			include svg/clock_icon.svg
			.
				Режим работы: с 8.00 до 19.00 (ежедневно)
		.social
			a(href="https://wa.me/79295335535?text=Здравствуйте!%20Перешёл%20только%20что%20с%20сайта." target="_blank")
				include svg/whatsapp.svg
			a(href="https://t.me/Agometrafutbolki" target="_blank")
				include svg/telegram_icon.svg
			a(href="https://instagram.com/futbolkioptomoskva" target="_blank")
				include svg/insta_icon.svg
