header.block
  address
    p: a(href="https://yandex.ru/maps/org/agometra/244048201602" target="_blank") г. Москва, Чагинская 13 стр. 5
    p Ежедневно с #[time(datetime="08:00+03:00") 8.00] до #[time(datetime="18:00+03:00") 18.00]
    p: a(href="tel://+79998713317") +7 (999) 871-33-17
  include svg/logo.svg