.burger
		include svg/burger.svg
.nav-top
	.close-button
		include svg/arrow-left.svg
		
	include svg/nav-logo.svg
	
	address
		p: a(href="https://yandex.ru/maps/org/agometra/244048201602" target="_blank" rel="noopener") г. Москва, Чагинская 13 стр. 5
		p Ежедневно с #[time(datetime="08:00+03:00") 8.00] до #[time(datetime="18:00+03:00") 18.00]
		p: a(href="tel://84950953317") 8 (495) 095-33-17
		p: a(href="tel://+79998713317") +7 (999) 871-33-17


	.lk-client
		.link
			include svg/nav-user.svg
			span Кабинет клиента
		form
			input(name="login" placeholder="+7 (999) 999-99-99" autocomplete="off" type="text")
			button.button-green(type="submit") Далее
			
	include ../inc/nav.pug