- 
  var links = [
      {label: "наличие на складе", url: "#"},
      {label: "прайс-лист", url: "#"},
      {label: "размеры", url: "#"},
      {label: "доставка", url: "#"},
      {label: "сертификаты", url: "#"},
      {label: "наша фабрика", url: "#"}
    ]

nav
  ul
    each link in links
      li
        a.text-green(href=link.url)= link.label