- 
  var links = [
      {label: "наличие на складе", url: "#shirts-options"},
      //- {label: "прайс-лист", url: "#"},
      {label: "размеры", url: "#exact-sizes"},
      //- {label: "доставка", url: "#"},
      //- {label: "сертификаты", url: "#"},
      {label: "наша фабрика", url: "#gallery_agometra"}
    ]

nav
  ul
    each link in links
      li
        a.text-green(href=link.url)= link.label
