section#shirts
  div
    h2 ФУТБОЛКА КЛАСИКА - 100% ХЛОПОК ( ПРЯЖА - КАРДЕ )

    .description
      p Футболка однотонная, 100% хлопок, большой цветовой ассортимент.
      p Естественные свойства материала футболки: воздухопроницаемость, материал дышит, впитывает влагу.
      p Без лейблов и товарных знаков, указан ТОЛЬКО размер.
      p.
        Материал: Кулирная гладь, кардная пряжа.<br>
        Материал ворота: Рибана. Дополнительное плечевое крепление, то есть внутренняя бейка от плеча до плеча, включая ворот.<br>
        Стиль: классика, прямой крой.<br>
        Ворот: круглая горловина.
      p.
        Размерный ряд: S / (48-50), M / (50-52), L / (52-54), XL / (54-56), XXL / (56-58)<br>
        Размеры соответствуют ГОСТу.
      p.
        Упаковки по 100шт. - один размер, один цвет.<br>
        Каждая футболка в индивидуальной прозрачной упаковке.
      p Товар сертифицирован.

    .options
      .density
        p Плотность:
        ul.density-price
          li
            span от 20 шт.
            span -
            span
          li
            span от 100 шт.
            span -
            span
          li
            span от 1000 шт.
            span -
            span
          li
            span от 3000 шт.
            span -
            span
      .color
        p Цвет:
      .existence
        p Доступно на складе:
      .expected
        p Ожидается поступление:
  div
    div
      span
      span
    #calc-controls
    #calc-total
    #calc-actions
      button.button-white Добавить в корзину
      button.button-green Перейти к оформлению