@import "../../../styl/inc/vars"

.nav-top, .burger
	display none

h1
	text-align: center
	margin-top: 40px

a
	display: block
	text-decoration: none
	text-align: center
	margin-top: 10px
	color: colors.green
	font-size: 18px

	&:hover
		color: lighten(colors.green, 15%)
