extends layouts/main.pug
block head_scripts
  style
    include inc/css/404.css
block body
  include index/svg/header-logo.svg
  h1 404 - Страница не найдена!
  a(href='/') Перейти на главную
  script window.AGO404 = true
