extends layouts/main.pug
block head_scripts
  +css('/css/404.css')
block body
  #logoSVG
    img(src="/images/logo.svg" alt="Logo-Agometra")
  h1 404 - Страница не найдена!
  a(href='/') Перейти на главную
