extend layouts/main.pug
block prepend head_scripts
	meta(name="description" content="Футболки оптом. Фабрика Узбекистан. Доставка по всей России.")
	meta(name="keywords" content="Футболки оптом. Фабрика Узбекистан. Доставка по всей России.")
	meta(rel="prefetch" href="/images/shirts.webp")
	meta(rel="prefetch" href="/images/shirts.png")
	style
		include index/css/style.css
block body
	include index/header.pug
	include index/shirts.pug
	include index/advantages.pug
	include index/sizes.pug
	include index/gallery-agometra.pug
	include index/contacts.pug
block append footer_scripts
	script
		include index/js/script.js