extend layouts/main.pug
block head_scripts
  +css('/css/index.css')
block body
  #main-container
    include inc/header.pug
    include inc/shirts.pug
    include inc/advantages.pug
    include inc/sizes.pug
    include inc/gallery_agometra.pug
