@import 'inc/vars'
@import 'index/shirts'
@import 'index/shirts-calculator'
@import 'index/shirts-actions-and-total'
@import 'index/advantages'
@import 'index/exact-sizes'
@import 'index/gallery-agometra'
@import 'index/contacts'
